@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*,*:before,*:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#leaderboard{
	position:relative;
	width: 100%;
	border:3px solid #000;
	border-radius: 20px;
	padding:10px;
	background:#333;
	left:0%;
}
#leaderboard ul{
	position:relative;
	list-style: none;
	margin:0;
	padding:0;
}
#leaderboard ul li{
	position:absolute;
	display:block;
	width:100%;
	padding:10px;
	border-radius:5px;
	background: linear-gradient(to top,#7c2222 0%, #d43939 100%);
	border-bottom:1px solid rgb(58, 22, 22);
	border-top:1px solid #666;
	box-shadow: 3px 3px 5px #000;
	opacity: 1;
	transition: top cubic-bezier(1.000, -0.530, 0.405, 1.425) 3s;
}
#leaderboard ul li a{
	display: block;
	text-decoration: none;
    font-size: 0.6cm;;
	font-family: 'Noto Serif TC', serif;
	font-weight: 700;
	color:#ffffff
}
#leaderboard ul li a:hover{
	text-shadow: 0 0 10px rgb(230,230,255);
}
#leaderboard li span {
	float:right;
	color:#a0ffea;
	opacity: 1;
	transition: opacity ease 3s;
    font-family: 'Noto Serif TC', serif;
}
#leaderboard li span:after {
	content:' pts';
	color:rgb(255, 255, 255);
	font-size: 0.6cm;
	font-weight: 700;
    font-family: 'Noto Serif TC', serif;
}
#leaderboard .move{

}

#leaderboard .replace{
	animation: replace 2s;
	-webkit-animation: replace 2s;
}
#leaderboard .move span,#leaderboard .replace span{
	opacity:0;
}

@keyframes replace
{
	0% {left: -500px;opacity:0;}
	100% {left: 0px;opacity:1;}
}
@-webkit-keyframes replace
{
	0% {left: -500px;opacity:0;}
	100% {left: 0px;opacity:1;}
}

@media (max-width: 767px){
	#leaderboard ul li a{
		display: block;
		text-decoration: none;
		font-size: 0.4cm;;
		font-family: 'Noto Serif TC', serif;
		color:#ffffff
	}
	#leaderboard li span:after {
		content:' pts';
		color:rgb(255, 255, 255);
		font-size: 0.4cm;
		font-family: 'Noto Serif TC', serif;
	}
}