.about_block{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #6be0b5;
  border-color: #7c2222;
  border-radius: 10px;
  border-style: solid;
}

.statistic_block{

}

.story_block{

}
