.storyBlock{
    width: 80%;
    height: fit-content;
    margin-left: 10%;
    background-color: #7c2222;
}
.afterComfirmed{
    background-color: white;
    border: black 2.5px solid;
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
    margin-top: 20%;
  }