.score_bar{
    position: absolute;
    margin-top: 10px;
    width: 560px;
    height: 30px;
    border: 2px #7c2222 solid;
    border-radius: 6px;
    z-index: 99;
}
.img-square{border-radius: 0px}hr{margin-top:0px;margin-bottom:0px;border:0;border-top:1px solid #eee}.sr-only
{position:absolute;width:1px;height:1px;margin:0px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}
.team_bar{
    width: 100px;
    height: 40px;
    background: #ffffff;
    border: 2px #7c2222 solid;
    border-radius: 6px;
}
.score1{
    position: absolute;
    width: 100px;
    height: 30px;
    background: #8fff95;
    border: 2px #43a348 solid;
    border-radius: 6px;
    z-index: 3;
}
.score2{
    position: absolute;
    width: 400px;
    height: 30px;
    background: #f8ff8f;
    border: 2px #a6ad3e solid;
    border-radius: 6px;
    z-index: 1;
}
.score3{
    position: absolute;
    width: 200px;
    height: 30px;
    background: #8fcdff;
    border: 2px #3775a8 solid;
    border-radius: 6px;
    z-index: 2;
}