.score_bar{
    position: absolute;
    width: 560px;
    height: 30px;
    background: #ffffff;
    border: 2px #7c2222 solid;
    border-radius: 6px;
    z-index: 1;
}
.img-square{border-radius: 0px}hr{margin-top:0px;margin-bottom:0px;border:0;border-top:1px solid #eee}.sr-only
{position:absolute;width:1px;height:1px;margin:0px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}
.team_bar{
    width: 50px;
    height: 40px;
    background: #ffffff;
    border: 2px #7c2222 solid;
    border-radius: 6px;
}
.sub_bar1{
    position: absolute;
    width: 50px;
    height: 30px;
    background: #222222;
    border: 2px #43a348 solid;
    border-radius: 0px;
    z-index: 2;
    margin-left: 0px;
}
.sub_bar2{
    position: absolute;
    width: 50px;
    height: 30px;
    background: #222222;
    border: 2px #43a348 solid;
    border-radius: 0px;
    z-index: 2;
    margin-left: 100px;
}
.sub_bar3{
    position: absolute;
    width: 50px;
    height: 30px;
    background: #222222;
    border: 2px #43a348 solid;
    border-radius: 0px;
    z-index: 2;
    margin-left: 200px;
}
.sub_bar4{
    position: absolute;
    width: 50px;
    height: 30px;
    background: #222222;
    border: 2px #43a348 solid;
    border-radius: 0px;
    z-index: 2;
    margin-left: 300px;
}
.sub_bar5{
    position: absolute;
    width: 50px;
    height: 30px;
    background: #222222;
    border: 2px #43a348 solid;
    border-radius: 0px;
    z-index: 2;
    margin-left: 400px;
}
.sub_bar6{
    position: absolute;
    width: 50px;
    height: 30px;
    background: #222222;
    border: 2px #43a348 solid;
    border-radius: 0px;
    z-index: 2;
    margin-left: 500px;
}
.sub_bar7{
    position: absolute;
    width: 50px;
    height: 30px;
    background: #222222;
    border: 2px #43a348 solid;
    border-radius: 0px;
    z-index: 2;
    margin-left: 600px;
}
.sub_bar8{
    position: absolute;
    width: 50px;
    height: 30px;
    background: #222222;
    border: 2px #43a348 solid;
    border-radius: 0px;
    z-index: 2;
    margin-left: 700px;
}