<!-- About Section -->
<!-- <link href="../css/mainpage.css" rel="stylesheet"> -->
<section id="about" class="about image-section parallax" style="margin-top: 60px; margin-left: 5%; width: 90%; border-radius: 50px; background-image: url({{ site.baseurl }}/img/sections-background/{{ site.aboutImage }})">
    <div class="overlay solid-overlay"></div>
    <div class="about_block content-wrapper" >
        <div class="col-lg-10 col-lg-offset-1">
            <h3 style="font-weight: 400; font-family: 'Noto Serif TC', serif;">{{ site.aboutTitle }}</h3>
            <div class="row about-details">
                {% assign animationDelay = 0 %}
                {% for about in site.aboutBlock %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-12">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <h5 style="font-weight: 400; font-family: 'Noto Serif TC', serif;">{{ about.title }}</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/department/{{ about.image }}" height="128"
                            width="128" alt="{{ about.title }}">
                        <p style="font-weight: 400; font-family: 'Noto Serif TC', serif;">{{ about.text }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                {% endfor %}
            </div>
            <a href="#story" class="explore">
                <svg class="icon icon-arrow-down arrow_display_md" viewBox="0 0 32 32">
                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
                </svg>
            </a>
        </div>
    </div>
    <a href="#story" class="explore">
        <svg class="icon icon-arrow-down arrow_display_xs" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
</section>
<!-- End About Section -->
