<div class="col-md-3 col-xs-12">
    <div class="days-container">
        <div class="days"></div>
        <div class="days-label">days</div>
    </div>
</div>
<div class="col-md-3 col-xs-12">
    <div class="hours-container">
        <div class="hours"></div>
        <div class="hours-label">hours</div>
    </div>
</div>
<div class="col-md-3 col-xs-12">
    <div class="minutes-container">
        <div class="minutes"></div>
        <div class="minutes-label">minutes</div>
    </div>
</div>
<div class="col-md-3 col-xs-12">
    <div class="seconds-container">
        <div class="seconds"></div>
        <div class="seconds-label">seconds</div>
    </div>
</div>

<script src="{{ "/js/countdown.js" | prepend: site.baseurl }}"></script>