<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="days-container">
        <div class="days"></div>
        <div class="days-label">日</div>
    </div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="hours-container">
        <div class="hours"></div>
        <div class="hours-label">時</div>
    </div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="minutes-container">
        <div class="minutes"></div>
        <div class="minutes-label">分</div>
    </div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="seconds-container">
        <div class="seconds"></div>
        <div class="seconds-label">秒</div>
    </div>
</div>

<script src="{{ "/js/countdown.js" | prepend: site.baseurl }}"></script>