<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="days-container">
        <div class="days"></div>
        <div class="days-label" style="font-weight: 500; font-family: 'Noto Serif TC', serif;">日</div>
    </div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="hours-container">
        <div class="hours"></div>
        <div class="hours-label" style="font-weight: 500; font-family: 'Noto Serif TC', serif;">時</div>
    </div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="minutes-container">
        <div class="minutes"></div>
        <div class="minutes-label" style="font-weight: 500; font-family: 'Noto Serif TC', serif;">分</div>
    </div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="seconds-container">
        <div class="seconds"></div>
        <div class="seconds-label" style="font-weight: 500; font-family: 'Noto Serif TC', serif;">秒</div>
    </div>
</div>

<script src="{{ "/js/countdown.js" | prepend: site.baseurl }}"></script>