<!-- Begin Crew List-->
<section id="crew" class="crew">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">
                ・召部
            </h4>
            {% for crewMember in site.data.crew %} {% if crewMember.exec %}
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect ribbon-activator" data-toggle="modal" data-target="#crewDetail-{{ crewMember.id }}">
                    <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: crewMember.thumbnailUrl }})">
                        <div class="overlay solid-overlay"></div>
                        {% if crewMember.ribbon != null %}
                        <ul class="ribbon-wrapper">
                            {% for ribbon in crewMember.ribbon %}
                            <li class="{{ ribbon["abbr "] | downcase }}">
                                <p class="ribbon abbr">{{ ribbon["abbr"] }}</p>
                                <p class="ribbon full-title">{{ ribbon["title"] }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <figcaption>
                            <div class="col-md-8 col-xs-8 text-left">
                                <div class="clearfix"></div>
                                <h2 class="name">{{ crewMember.name }} <span>{{ crewMember.surname }}</span></h2>
                                <span class="position">{{ crewMember.title }}</span>
                            </div>
                            {% for social in crewMember.social %}
                            <a href="{{ social["link"] }}" target="_blank">
                                <svg class="icon icon-{{ social["name"] }}" viewBox="0 0 30 32">
                                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social["name"]
                                        }}"></use>
                                </svg>
                            </a>
                            {% endfor %}
                        </figcaption>
                        <p class="bio">{{ crewMember.bio | strip_html | truncate: 72 }}</p>
                    </figure>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0"> ・部長
            </h4>
            {% for crewMember in site.data.crew %} {% if crewMember.leader %}
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect ribbon-activator" data-toggle="modal" data-target="#crewDetail-{{ crewMember.id }}">
                    <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: crewMember.thumbnailUrl }})">
                        <div class="overlay solid-overlay"></div>
                        {% if crewMember.ribbon != null %}
                        <ul class="ribbon-wrapper">
                            {% for ribbon in crewMember.ribbon %}
                            <li class="{{ ribbon["abbr"] | downcase }}">
                                <p class="ribbon abbr">{{ ribbon["abbr"] }}</p>
                                <p class="ribbon full-title">{{ ribbon["title"] }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <figcaption>
                            <div class="col-md-8 col-xs-8 text-left">
                                <div class="clearfix"></div>
                                <h2 class="name">{{ crewMember.name }} <span>{{ crewMember.surname }}</span></h2>
                                <span class="position">{{ crewMember.title }}</span>
                            </div>
                            {% for social in crewMember.social %}
                            <a href="{{ social["link"] }}" target="_blank">
                                <svg class="icon icon-{{ social["name"] }}" viewBox="0 0 30 32">
                                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social["name"]
                                        }}"></use>
                                </svg>
                            </a>
                            {% endfor %}
                        </figcaption>
                        <p class="bio">{{ crewMember.bio | strip_html | truncate: 72 }}</p>
                    </figure>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">
                ・網頁開發人員
            </h4>
            {% for crewMember in site.data.crew %} {% if crewMember.dev %}
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect ribbon-activator" data-toggle="modal" data-target="#crewDetail-{{ crewMember.id }}">
                    <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: crewMember.thumbnailUrl }})">
                        <div class="overlay solid-overlay"></div>
                        {% if crewMember.ribbon != null %}
                        <ul class="ribbon-wrapper">
                            {% for ribbon in crewMember.ribbon %}
                            <li class="{{ ribbon["abbr"] | downcase }}">
                                <p class="ribbon abbr">{{ ribbon["abbr"] }}</p>
                                <p class="ribbon full-title">{{ ribbon["title"] }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <figcaption>
                            <div class="col-md-8 col-xs-8 text-left">
                                <div class="clearfix"></div>
                                <h2 class="name">{{ crewMember.name }} <span>{{ crewMember.surname }}</span></h2>
                                <span class="position">{{ crewMember.title }}</span>
                            </div>
                            {% for social in crewMember.social %}
                            <a href="{{ social["link"] }}" target="_blank">
                                <svg class="icon icon-{{ social["name"] }}" viewBox="0 0 30 32">
                                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social["name"]
                                        }}"></use>
                                </svg>
                            </a>
                            {% endfor %}
                        </figcaption>
                        <p class="bio">{{ crewMember.bio | strip_html | truncate: 72 }}</p>
                    </figure>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</section>
<!-- End Team -->