<!-- Begin Crew List-->
<link href="{{ site.baseurl }}/css/crew.css" rel="stylesheet">
<section id="crew" class="crew">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0" style="color:#b42020; font-family: 'Noto Serif TC', serif;"><strong style="background-color: #fffdf1;">• 召部 •</strong></h4>
            <div class="clearfix"></div>
            {% for crewMember in site.data.crew %} {% if crewMember.executive == true %}
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect ribbon-activator" data-toggle="modal" data-target="#crewDetail-{{ crewMember.id }}">
                    <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: crewMember.thumbnailUrl }})">
                        <div class="overlay solid-overlay"></div>
                        {% if crewMember.ribbon != null %}
                        <ul class="ribbon-wrapper">
                            {% for ribbon in crewMember.ribbon %}
                            <li class="{{ ribbon["abbr"] | downcase }}">
                                <p class="ribbon abbr">{{ ribbon["abbr"] }}</p>
                                <p class="ribbon full-title">{{ ribbon["title"] }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <figcaption>
                            <div class="col-md-9 col-xs-9 text-left">
                                <h2 class="name" style="color:#7c2222;"><span style=" background-color: rgba(255,255,255,0.8); font-weight: 900;font-family: 'Noto Serif TC', serif;">{{ crewMember.name }}{{ crewMember.surname }}</span></h2>
                                <div class="clearfix"></div>
                                <span class="position" style="font-size: 11px;font-weight:500;font-family: 'Noto Serif TC', serif;color:#7c2222">{{ crewMember.title }}</span>
                            </div>
                            {% for social in crewMember.social %}
                            <a href="{{ social["link"] }}" target="_blank">
                                <svg class="icon icon-{{ social["name"] }}" viewBox="0 0 32 32">
                                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites_1.svg#icon-{{ social["name"]
                                        }}"></use>
                                </svg>
                            </a>
                            {% endfor %}
                        </figcaption>
                        <p class="bio" style="font-family: 'Noto Serif TC', serif;">{{ crewMember.bio | strip_html | truncate: 30, "⋯⋯" }}</p>
                    </figure>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0" style="color:#b42020; font-family: 'Noto Serif TC', serif;"><strong style="background-color: #fffdf1;">• 部長 • </strong></h4>
            {% for crewMember in site.data.crew %} {% if crewMember.leader %}
            <div class="effect-wrapper col-md-3 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect ribbon-activator" data-toggle="modal" data-target="#crewDetail-{{ crewMember.id }}">
                    <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: crewMember.thumbnailUrl }})">
                        <div class="overlay solid-overlay"></div>
                        {% if crewMember.ribbon != null %}
                        <ul class="ribbon-wrapper">
                            {% for ribbon in crewMember.ribbon %}
                            <li class="{{ ribbon["abbr"] | downcase }}">
                                <p class="ribbon abbr">{{ ribbon["abbr"] }}</p>
                                <p class="ribbon full-title">{{ ribbon["title"] }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <figcaption>
                            {% if crewMember.name == "Chang-Tian-Wei " %}
                            <div class="col-md-10 col-xs-10 text-left">
                                <div class="clearfix"></div>
                                <h2 class="name" style="color:#7c2222"><span style=" background-color: rgba(255,255,255,0.8); font-weight: 900;font-family: 'Noto Serif TC', serif; font-size: 12.5px;">{{ crewMember.name }} {{ crewMember.surname }}</span></h2>
                                <span class="position" style="font-size: 11px;font-family: 'Noto Serif TC', serif;font-weight:500;color:#7c2222">{{ crewMember.title }}</span>
                            </div>
                            {% elsif crewMember.name == "Tzu Ying Yang " %}
                            <div class="col-md-10 col-xs-10 text-left">
                                <div class="clearfix"></div>
                                <h2 class="name" style="color:#7c2222"><span style=" background-color: rgba(255,255,255,0.8); font-weight: 900;font-family: 'Noto Serif TC', serif;">{{ crewMember.name }} {{ crewMember.surname }}</span></h2>
                                <span class="position" style="font-size: 11px;font-family: 'Noto Serif TC', serif;font-weight:500;color:#7c2222">{{ crewMember.title }}</span>
                            </div>
                            {% elsif crewMember.name == "chen yingwei " %}
                            <div class="col-md-10 col-xs-10 text-left">
                                <div class="clearfix"></div>
                                <h2 class="name" style="color:#7c2222"><span style=" background-color: rgba(255,255,255,0.8); font-weight: 900;font-family: 'Noto Serif TC', serif;">{{ crewMember.name }} {{ crewMember.surname }}</span></h2>
                                <span class="position" style="font-size: 11px;font-family: 'Noto Serif TC', serif;font-weight:500;color:#7c2222">{{ crewMember.title }}</span>
                            </div>
                            {% elsif crewMember.name == "Sherry Huang " %}
                            <div class="col-md-10 col-xs-10 text-left">
                                <div class="clearfix"></div>
                                <h2 class="name" style="color:#7c2222"><span style=" background-color: rgba(255,255,255,0.8); font-weight: 900;font-family: 'Noto Serif TC', serif;">{{ crewMember.name }} {{ crewMember.surname }}</span></h2>
                                <span class="position" style="font-size: 11px;font-family: 'Noto Serif TC', serif;font-weight:500;color:#7c2222">{{ crewMember.title }}</span>
                            </div>
                            {% else %}
                            <div class="col-md-9 col-xs-9 text-left">
                                <div class="clearfix"></div>
                                <h2 class="name" style="color:#7c2222"><span style=" background-color: rgba(255,255,255,0.8); font-weight: 900;font-family: 'Noto Serif TC', serif;">{{ crewMember.name }} {{ crewMember.surname }}</span></h2>
                                <span class="position" style="font-size: 11px;font-family: 'Noto Serif TC', serif;font-weight:500;color:#7c2222">{{ crewMember.title }}</span>
                            </div>
                            {% endif %}
                            {% for social in crewMember.social %}
                            <a href="{{ social["link"] }}" target="_blank">
                                <svg class="icon icon-{{ social["name"] }}" viewBox="0 0 32 32">
                                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites_1.svg#icon-{{ social["name"]
                                        }}"></use>
                                </svg>
                            </a>
                            {% endfor %}
                        </figcaption>

                        <p class="bio" style="font-family: 'Noto Serif TC', serif;">{{ crewMember.bio | strip_html | truncate: 24, "⋯⋯" }}</p>

                    </figure>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0" style="color:#b42020; font-family: 'Noto Serif TC', serif;"><strong style="background-color: #fffdf1;">• 網頁開發人員 •</strong></h4>
            {% for crewMember in site.data.crew %} {% if crewMember.dev %}
            <div class="effect-wrapper col-md-3 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect ribbon-activator" data-toggle="modal" data-target="#crewDetail-{{ crewMember.id }}">
                    <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: crewMember.thumbnailUrl }})">
                        <div class="overlay solid-overlay"></div>
                        {% if crewMember.ribbon != null %}
                        <ul class="ribbon-wrapper">
                            {% for ribbon in crewMember.ribbon %}
                            <li class="{{ ribbon["abbr"] | downcase }}">
                                <p class="ribbon abbr">{{ ribbon["abbr"] }}</p>
                                <p class="ribbon full-title">{{ ribbon["title"] }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <figcaption>
                            <div class="col-md-9 col-xs-9 text-left">
                                <div class="clearfix"></div>
                                <h2 class="name" style="color:#7c2222"><span style=" background-color: rgba(255,255,255,0.8); font-weight: 900;font-family: 'Noto Serif TC', serif;">{{ crewMember.name }} {{ crewMember.surname }}</span></h2>
                                <span class="position" style="font-size: 11px;font-family: 'Noto Serif TC', serif;font-weight:500;color:#7c2222">{{ crewMember.title }}</span>
                            </div>
                            {% for social in crewMember.social %}
                                <a href="{{ social["link"] }}" target="_blank">
                                    <svg class="icon icon-{{ social["name"] }}" viewBox="0 0 32 32">
                                        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites_1.svg#icon-{{ social["name"]
                                            }}"></use>
                                    </svg>
                                </a>
                            {% endfor %}
                        </figcaption>

                        <p class="bio" style="font-family: 'Noto Serif TC', serif;">{{ crewMember.bio | strip_html | truncate: 24, "⋯⋯" }}</p>

                    </figure>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</section>
<!-- End Crew -->
