<!-- Begin Footer -->
<footer id="footer" class="footer">
	<div class="row">
		<div class="pull-right col-md-12 col-xs-12"></div>
	</div>
	<div class="row">
		{% for block in site.footerBlocks %}
        {% assign colWidth = 9 | divided_by: forloop.length %}
		<div class="col-xs-6 col-md-{{ colWidth }}">
			<h5>{{ block.title }}</h5>
			<ul>
				{% for linkElement in block.links %}
				<li><a href="{% if linkElement.permalink != null %} {{ linkElement.permalink | prepend: site.baseurl }} {% else %} {{ linkElement.link }} {% endif %}" {% if linkElement.link != null %}target="_blank"{% endif %}>{{ linkElement.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}
		<div class="logo logo-footer logo-dark pull-left col-xs-6 col-md-3"></div>
		<div class="pull-right col-xs-6 col-md-3">
			<ul class="social-links">
				{% for social in site.socialLinks %}
				<li>
					<a href="{% if social.permalink != null %} {{ social.permalink | prepend: site.baseurl }} {% else %} {{ social.link }} {% endif %}"
						target="_blank">
						<svg class="icon icon-{{ social.icon }}" viewBox="0 0 30 32">
							<use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social.icon }}"></use>
						</svg>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="row">
		<!-- Please don't delete this line-->
		<div class="col-md-6">
			<p class="copyright">
				&copy; 2021 Based on <a href="https://github.com/gdg-x/zeppelin" target="_blank">Project Zeppelin</a>. Designed and created by <a href="https://github.com/jasperchan5" target="_blank">Jasper Chan</a> &middot; <a href="https://github.com/maxyhwu" target="_blank">Max Wu</a>
			</p>
		</div>
	</div>
</footer>
<!-- End Footer -->
