<!-- Begin Footer -->
<footer id="footer" class="footer">
	<div class="row">
		{% for block in site.footerBlocks %} {% assign colWidth = 12 |
		divided_by: forloop.length %}
		<div class="col-md-3 col-xs-6">
			<h5 style="font-weight: 500;font-family: 'Noto Serif TC', serif;">{{ block.title }}</h5>
			<ul>
				{% for linkElement in block.links %}
				<li>
					<a href="{% if linkElement.permalink != null %} {{ linkElement.permalink | prepend: site.baseurl }} {% else %} {{ linkElement.link }} {% endif %}"
						{% if linkElement.permalink==null %} target="_blank" {% endif %} style="font-weight: 500;font-family: 'Noto Serif TC', serif;">{{ linkElement.text }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}
		<div class="col-md-1">
			<br>
		</div>
		<div class="col-md-2 col-xs-6">
			<br>
			<br>
			<br>
			<br>
			<br>
			<div class="logo logo-footer logo-dark"></div>
		</div>
	</div>

	<div class="row">
		<!-- Please don't delete this line-->
		<div class="col-md-9 col-xs-9">
			<p class="copyright" style="font-family: 'Noto Serif TC', serif;">
				&copy; 2021 Based on <a href="https://github.com/gdg-x/zeppelin" target="_blank">Project Zeppelin</a>. Designed and created by <a href="https://github.com/jasperchan5" target="_blank">Jasper Chan</a> &middot; <a href="https://github.com/maxyhwu" target="_blank">Max Wu</a>
			</p>
		</div>
	</div>
</footer>
<!-- End Footer -->
