<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section"
    style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.heroImage }}');">
    {% include navigation.html %}
    <div class="content-wrapper">
        <div class="jumbotron">
            <div class="animated hiding" data-animation="fadeInDown" data-delay="30">
                {% assign heroText = site.heroTitle | split:"<typeout>" %}
                {% assign heroText2 = site.heroTitle2 | split:"<typeout>" %}
                <h1 style="font-weight: 500; font-family: 'Merienda', cursive;">{{heroText}} </h1>
                <h2 style="font-weight: 400; font-family: 'Potta One', cursive;">{{heroText2}} </h2>
                <p style="font-weight: 500; font-family: 'Merienda', cursive;">{{ site.eventDate }}</p>
                <h4 style="font-weight: 350;font-family: 'Potta One', cursive;">
                    <span class="hidden-xs" id="typeout-text"></span>
                    <span style="font-weight: 400; font-family: 'Potta One', cursive;">距離宿營還有: </span>
                    <span class="typeout-fallback">{{ site.typeoutFallback }}</span>
                </h4>
            </div>
        </div>
        <a href="#about" class="explore">
            <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
            </svg>
        </a>
    </div>
</section>
<!-- End Hero Section -->
