<link href="{{ "/css/leaderboard.css" | prepend: site.baseurl }}" rel="stylesheet"> 
<section id="team" class="team">
    <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" 
            data-delay="0" style="font-weight: 500;">
            即時排名
        </h4>
    </div>
    <div id="leaderboard">
        <script src="{{ "/js/leaderboard.js" | prepend: site.baseurl }}"></script>
    </div>

</section>
