<!-- Begin Leaderboard List-->

<!-- <div id="leaderboard"></div> -->
<!-- <script src="{{ "/js/leaderboard.js" | prepend: site.baseurl }}"></script> -->
<script>
    var a= [
        {% for member in site.data.team %}
            { id: "{{ member.id }}", title: "{{ member.clan }}",
                count:"{{member.scores.point[0]}}"} {% if forloop.index != forloop.length %}, {% endif %}
        {% endfor %}
    ];
    console.log(a);
    var b = 5;
    document.getElementById('#leaderboard-title').after('<div>' + b + '</div>');
</script>

<!-- End Leaderboard List-->
