<!-- Begin Partners Section -->
<section id="partners" class="partners image-section parallax" style="margin-top: 60px; margin-left: 5%; width: 90%; border-radius: 50px; background-image: url({{ site.baseurl }}/img/sections-background/{{ site.partnersImage }})">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3 style="font-weight: 400; font-family: 'Noto Serif TC', serif;">{{ site.organizersTitle }}</h3>
            {% for organizer in site.data.organizers %}
            <h5 style="font-weight: 400; font-family: 'Noto Serif TC', serif;">{{ organizer.group }}</h5>
            <ul class="list-inline">
                {% for element in organizer.elements %}
                <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.baseurl }}/img/organizers/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
            <h3 style="font-weight: 400; font-family: 'Noto Serif TC', serif;">{{ site.partnersTitle }}</h3>
            {% for partner in site.data.partners %}
            <h5 style="font-weight: 400; font-family: 'Noto Serif TC', serif;">{{ partner.group }}</h5>
            <ul class="list-inline">
                {% for element in partner.elements %}
                <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
            <a href="#sponsor" class="explore">
                <svg class="icon icon-arrow-down arrow_display_md" viewBox="0 0 32 32">
                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
                </svg>
            </a>
        </div>
    </div>
    <a href="#sponsor" class="explore">
        <svg class="icon icon-arrow-down arrow_display_xs" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
</section>
<!-- End Partners Section -->

