<!-- Begin Partners Section -->
<style>
    .blank{
        width: 100%;
        height: 60px;
        background-color: black;
    }
</style>
<section id="partners" class="partners image-section parallax" style="margin-top: 60px; margin-left: 5%; width: 90%; border-radius: 50px; background-image: url({{ site.baseurl }}/img/sections-background/{{ site.storyImage }})">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3 style="font-weight: 400; font-family: 'Potta One', cursive;">{{ site.organizersTitle }}</h3>
            {% for organizer in site.data.organizers %}
            <h5 style="font-weight: 400; font-family: 'Potta One', cursive;">{{ organizer.group }}</h5>
            <ul class="list-inline">
                {% for element in organizer.elements %}
                <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.baseurl }}/img/organizers/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
            <h3 style="font-weight: 400; font-family: 'Potta One', cursive;">{{ site.partnersTitle }}</h3>
            {% for partner in site.data.partners %}
            <h5 style="font-weight: 400; font-family: 'Potta One', cursive;">{{ partner.group }}</h5>
            <ul class="list-inline">
                {% for element in partner.elements %}
                <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Partners Section -->

