<section id="sponsor" class="sponsor image-section parallax" style="margin-top: 60px; margin-left: 5%; width: 90%; border-radius: 50px; background-image: url({{ site.baseurl }}/img/sections-background/{{ site.sponsorImage }})">
    <div class="overlay solid-overlay"></div>
    <div class="about_block content-wrapper" >
        <div class="col-lg-10 col-lg-offset-1">
            <h3 style="font-weight: 400; font-family: 'Noto Serif TC', serif;">{{ site.aboutTitle }}</h3>
            <div class="row about-details">
                {% assign animationDelay = 0 %}
                {% for sponsor in site.sponsorBlock %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-12">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <h5 style="font-weight: 400; font-family: 'Noto Serif TC', serif;">{{ sponsor.title }}</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/department/{{ sponsor.image }}" height="128"
                            width="128" alt="{{ about.title }}">
                        <p style="font-weight: 400; font-family: 'Noto Serif TC', serif;">{{ sponsor.text }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
