<!-- Begin Story Section -->
<section id="story" class="story image-section parallax" style="margin-top: 60px; margin-left: 5%; width: 90%; border-radius: 50px; background-image: url({{ site.baseurl }}/img/sections-background/{{ site.storyImage }});">
  <div class="overlay solid-overlay"></div>
  <div class="content-wrapper">
      <h3 id="storyTitle" style="font-weight: 400; font-family: 'Noto Serif TC', serif;">{{ site.storyTitle }}</h3>
      <div class="col-md-8 col-sm-8 col-xs-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-1">
        <p style="font-weight: 500; font-family: 'Noto Serif TC', serif;font-size: 0.5cm;line-height: 1cm;">這片大陸上存在八個家族，這些家族互相合作卻又彼此牽制，<br>大家各司其職，大陸上過得也還算富裕。<br>
        然而，在這片寧靜之下，掌握著大陸能源的「扒了你．領主大人．灰生氣」<br>卻私底下盤算著一個足以改變大陸局勢的計畫⋯
        </p>
      </div>
      <div class="clearfix"></div>
      <div id="forSmartphone" class="forSmartphone"></div>
      <div class="col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2 col-xs-12">
        <span class="bordered">
          <div data-toggle="modal" data-target="#storyDetail">
            <a class="btn btn-default bottom-section-link waves-effect waves-button waves-light"
            style="font-weight: 400; font-family: 'Noto Serif TC', serif;">
            {{site.storyButtonText_2 }}</a>
          </div>
        </span>
      </div>
      <div id="forSmartphone" class="forSmartphone displayAdjustment"></div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <span class="bordered">
          <a href="{{ site.baseurl }}/team/" class="btn btn-default bottom-section-link waves-effect waves-button waves-light"
          style="font-weight: 400; font-family: 'Noto Serif TC', serif;">
          {{site.storyButtonText }}</a>
        </span>
      </div>
      <br><br>
      <a href="#rockstar-speakers" class="explore">
          <svg class="icon icon-arrow-down arrow_display_md" viewBox="0 0 32 32">
              <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
          </svg>
      </a>
      <br><br><br><br>
  </div>
  <a href="#rockstar-speakers" class="explore">
    <svg class="icon icon-arrow-down arrow_display_xs" viewBox="0 0 32 32">
        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
    </svg>
</a>
</section>
<!-- End Story Section -->
