<!-- Begin Story Section -->
<section id="story" class="story image-section parallax" style="margin-top: 60px; margin-left: 5%; width: 90%; border-radius: 50px; background-image: url({{ site.baseurl }}/img/sections-background/{{ site.storyImage }});">
  <div class="overlay solid-overlay"></div>
  <div class="content-wrapper">
      <h3 id="storyTitle" style="font-weight: 400; font-family: 'Noto Serif TC', serif;">{{ site.storyTitle }}</h3>
      <div class="clearfix"></div>
      <span class="bordered">
        <a href="{{ site.baseurl }}/team/" class="btn btn-default bottom-section-link waves-effect waves-button waves-light"
        style="font-weight: 400; font-family: 'Noto Serif TC', serif;">
        {{site.storyButtonText }}</a>
      </span>
      <span class="bordered">
        <div data-toggle="modal" data-target="#myModal">
          <a class="btn btn-default bottom-section-link waves-effect waves-button waves-light"
          style="font-weight: 400; font-family: 'Noto Serif TC', serif;">
          {{site.storyButtonText_2 }}</a>
        </div>
      </span>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
                </div>
                <div class="modal-body">在这里添加一些文本</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">提交更改</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
      </div>
      <br><br>
      <a href="#rockstar-speakers" class="explore">
          <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
              <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
          </svg>
      </a>
      <br><br><br><br>
  </div>
</section>
<!-- End Story Section -->
