<!-- Begin Team List-->
<section id="team" class="team" style="padding-top: 0px">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <!-- <h4 id="leaderboard-title" class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" 
                data-delay="0" style="font-weight: 400; font-family: 'Noto Serif TC', serif;">
                家族排名
            </h4> -->
            <!-- <div id="leaderboard"></div> -->
        </div>
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" 
                data-delay="0" style="font-weight: 400; font-family: 'Noto Serif TC', serif;">
                八大家族
            </h4>
            {% for teamMember in site.data.team %} {% if teamMember.family %}
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect" data-toggle="modal" data-target="#teamDetail-{{ teamMember.id }}">
                    <figure class="waves-effect waves-block waves-light"
                        style="background-image: url({{ site.baseurl | append: '/img/team/' | append: teamMember.thumbnailUrl }})">
                        <div class="overlay solid-overlay"></div>
                        <figcaption>
                            <div class="col-md-8 col-xs-8 text-left">
                                <h2 class="name" style="color: #000000; font-size: 0.7cm; font-weight: 400; font-family: 'Noto Serif TC', serif;"><span style="background-color: rgba(255,255,255,0.8);">{{ teamMember.team }}</span></h2>
                                <div class="clearfix"></div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</section>
<!-- End Team List -->
