<!-- Begin Team Modals -->
<link href="../css/team_modal.css" rel="stylesheet">
<div class="modals" class="modals">
    {% for teamMember in site.data.team %} {% if page.modal == "team" %}
    <div aria-hidden="true" aria-labelledby="teamDetailLabel-{{ teamMember.id }}" class="modal fade text-left people-modal" id="teamDetail-{{ teamMember.id }}" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="close">
                        <svg class="icon icon-cross" viewBox="0 0 32 32">
                            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-cross"></use>
                        </svg>
                        <div class="close-mask" data-dismiss="modal"></div>
                    </div>
                    <div class="people-details">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <div class="flow-img img-square people-img" style="background-image: url({{ site.baseurl | append: '/img/team/' | append: teamMember.thumbnailUrl }})">
                                </div>
                                <div style="text-align: center;" >
                                    <p style="font-size:0.6cm; color:#7c2222; font-family: 'cwTeXFangSong', serif;">
                                    <b>{{teamMember.team}}</b></p>
                                </div>
                            </div>
                            <div style="text-align: center" class="col-md-10 col-sm-10 ">

                                <p style="font-size:1cm; color:#7c2222; font-weight: 800; font-family: 'cwTeXFangSong', serif;
                                    line-height: 1cm;">
                                <b>{{teamMember.clan}}</b></p>
                                <br>
                            </div>
                            <div style="text-align: center" class="col-md-10 col-sm-10 ">
                                <p style="font-size:0.6cm; color:#7c2222; font-family: 'cwTeXFangSong', serif;">
                                <b>-家族介紹-</b></p>
                                <p style="font-size:0.4cm; color:#000000; font-family: 'cwTeXFangSong', serif;">
                                <b>{{teamMember.bio}}</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div style="text-align: center" class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                <p style="font-size:0.6cm; color:#7c2222; font-family: 'cwTeXFangSong', serif; margin-left: 10px;">
                                <b>-擁有的頭銜-</b></p>
                            </div>
                            {% for titles in teamMember.title %}{% if titles.name != null %}
                                {% if titles.offset %}
                                <div style="text-align: center" class="col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2">
                                    <p style="font-size:0.4cm; color:#000000; font-family: 'cwTeXFangSong', serif;">
                                        <b><strong style="background: #8fc7ff">{{titles.name}}</strong></b></p>
                                </div>
                                {% else %}
                                <div style="text-align: center" class="col-md-2 col-sm-2">
                                    <p style="font-size:0.4cm; color:#000000; font-family: 'cwTeXFangSong', serif;">
                                        <b><strong style="background: #5fff87">{{titles.name}}</strong></b></p>
                                </div>
                                {% endif %}
                            {% endif %}{% endfor %}
                        </div>
                        <div class="row">
                            <div style="text-align: center" class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                <p style="font-size:0.6cm; color:#7c2222; font-family: 'cwTeXFangSong', serif;">
                                <b>-總積分-</b></p>
                            </div>
                            <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                <div class="score_bar flex">
                                        {% for baseScore in teamMember.scores %}
                                            {% assign newColor = baseScore.color %}
                                            {% assign score = baseScore.point | times: 14.29 %}
                                            {% if score != 0 %}
                                                {% assign newWidth = score | divided_by: 100 %}
                                                <div class="sub_bar" style="background-color: {{ newColor }}; width: {{ newWidth }}%; border-radius: {% if forloop.index == 1 %} 10px 0px 0px 10px {% elsif forloop.index == forloop.length %} 0px 10px 10px 0px {% endif %}"></div>
                                                <div id="points" style="color: black;position: absolute;z-index: 10000;">{{baseScore.point}}</div>
                                            {% endif %}
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="total_score" class="col-md-offset-6 col-md-6 total_score">
                                100
                            </div>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %} {% endfor %}
    <script>
        var total=0;  
        var pointsArr = [
                {% for each in site.data.team.scores %}    
                    '{{ each.point }}'{% if forloop.index!=forloop.length %}, {% endif %}
                {% endfor %}
        ];
        for(var i=0;i<8;i++){
            total=0;
            for(var j=0;j<56;j++){
                total+=parseInt(pointsArr[j],10);
            }
            document.getElementsByClassName('col-md-offset-6 col-md-6 total_score')[i].innerHTML=''+ total +'';
        }
    </script>
</div>

<!-- End Team Modals -->
