<!-- Begin Team Modals -->
<link href="{{ "/css/team_modal.css" | prepend: site.baseurl }}" rel="stylesheet"> 
<script type="text/javascript" src="/js/team_modal.js"></script>
<div class="modals" class="modals">
    {% for teamMember in site.data.team %} {% if page.modal == "team" %}
    <div aria-hidden="true" aria-labelledby="teamDetailLabel-{{ teamMember.id }}" class="modal fade text-left people-modal" id="teamDetail-{{ teamMember.id }}" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="close">
                        <svg class="icon icon-cross" viewBox="0 0 32 32">
                            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-cross"></use>
                        </svg>
                        <div class="close-mask" data-dismiss="modal"></div>
                    </div>
                    <div class="people-details">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <div class="flow-img img-square people-img" style="background-image: url({{ site.baseurl | append: '/img/team/' | append: teamMember.thumbnailUrl }})">
                                </div>
                                <div style="text-align: center;" >                           
                                    <p style="font-size:0.6cm; color:#7c2222; font-family: 'cwTeXFangSong', serif;margin-left: 10px;">
                                    <b>{{teamMember.team}}</b></p>
                                </div>
                            </div>
                            <div style="text-align: center" class="col-md-10 col-sm-10 ">
                                
                                <p style="font-size:1cm; color:#7c2222; font-weight: 800; font-family: 'cwTeXFangSong', serif;">
                                <b>{{teamMember.clan}}</b></p>
                                <br>
                            </div>
                            <div style="text-align: center" class="col-md-10 col-sm-10 ">
                                <p style="font-size:0.6cm; color:#7c2222; font-family: 'cwTeXFangSong', serif;">
                                <b>-家族介紹-</b></p>
                                <p style="font-size:0.4cm; color:#000000; font-family: 'cwTeXFangSong', serif;">
                                <b>{{teamMember.bio}}</b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div style="text-align: center" class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                <p style="font-size:0.6cm; color:#7c2222; font-family: 'cwTeXFangSong', serif;">
                                <b>-擁有的頭銜-</b></p>
                            </div>
                            {% for titles in teamMember.title %}
                                {% if titles.offset %}
                                <div style="text-align: center" class="col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2">
                                    <p style="font-size:0.4cm; color:#000000; font-family: 'cwTeXFangSong', serif;">
                                        <b><strong style="background: #8fc7ff">{{titles.name}}</strong></b></p>
                                </div>
                                {% else %}
                                <div style="text-align: center" class="col-md-2 col-sm-2">
                                    <p style="font-size:0.4cm; color:#000000; font-family: 'cwTeXFangSong', serif;">
                                        <b><strong style="background: #5fff87">{{titles.name}}</strong></b></p>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div style="text-align: center" class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                <p style="font-size:0.6cm; color:#7c2222; font-family: 'cwTeXFangSong', serif;">
                                <b>-總積分-</b></p>
                            </div> 
                            <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                <div class="score_bar"></div>
                                {% for score in teamMember.scores %}
                                {% if score.id==1 %}
                                <div class="sub_bar1">
                                    <p style="text-align: right;color: #ffffff;font-weight: 600;">{{score.id}}</p>
                                    <script>
                                        var newBar = document.querySelector('.sub_bar1');
                                        newBar.style = "background-color: {{score.color}};border: #191981 2px solid;width: {{score.width}};margin-left: {{score.border}}";                
                                    </script>
                                </div>
                                {% elsif score.id==2 %}
                                <div class="sub_bar2">
                                    <p style="text-align: right;color: #ffffff;font-weight: 600;">{{score.id}}</p>
                                    <script>
                                        var newBar = document.querySelector('.sub_bar2');
                                        newBar.style = "background-color: {{score.color}};border: #191981 2px solid;width: {{score.width}};margin-left: {{score.border}}";                
                                    </script>
                                </div>
                                {% elsif score.id==3 %}
                                <div class="sub_bar3">
                                    <p style="text-align: right;color: #ffffff;font-weight: 600;">{{score.id}}</p>
                                    <script>
                                        var newBar = document.querySelector('.sub_bar3');
                                        newBar.style = "background-color: {{score.color}};border: #191981 2px solid;width: {{score.width}};margin-left: {{score.border}}";                          
                                    </script>
                                </div>
                                {% elsif score.id==4 %}
                                <div class="sub_bar4">
                                    <script>
                                        var newBar = document.querySelector('.sub_bar4');
                                        newBar.style = "background-color: {{score.color}};border: #191981 2px solid;width: {{score.point}}/2";                
                                    </script>
                                </div>
                                {% elsif score.id==5 %}
                                <div class="sub_bar5">
                                    <script>
                                        var newBar = document.querySelector('.sub_bar5');
                                        newBar.style = "background-color: {{score.color}};border: #191981 2px solid;width: {{score.point}}/2";                
                                    </script>
                                </div>
                                {% elsif score.id==6 %}
                                <div class="sub_bar6">
                                    <script>
                                        var newBar = document.querySelector('.sub_bar6');
                                        newBar.style = "background-color: {{score.color}};border: #191981 2px solid;width: {{score.point}}/2";                
                                    </script>
                                </div>
                                {% elsif score.id==7 %}
                                <div class="sub_bar7">
                                    <script>
                                        var newBar = document.querySelector('.sub_bar7');
                                        newBar.style = "background-color: {{score.color}};border: #191981 2px solid;width: {{score.point}}/2";                
                                    </script>
                                </div>
                                {% elsif score.id==8 %}
                                <div class="sub_bar8">
                                    <script>
                                        var newBar = document.querySelector('.sub_bar8');
                                        newBar.style = "background-color: {{score.color}};border: #191981 2px solid;width: {{score.point}}/2";                
                                    </script>
                                </div>
                                {% endif %}
                                {% endfor %}
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %} {% endfor %}
</div>
<!-- End Team Modals -->
