<!-- Begin Team Modals -->
<div class="modals" class="modals">
    {% for teamMember in site.data.team %} {% if page.modal == "team" %}
    <div aria-hidden="true" aria-labelledby="teamDetailLabel-{{ teamMember.id }}" class="modal fade text-left people-modal" id="teamDetail-{{ teamMember.id }}" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="close">
                        <svg class="icon icon-cross" viewBox="0 0 32 32">
              <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-cross"></use>
            </svg>
                        <div class="close-mask" data-dismiss="modal"></div>
                    </div>
                    <div class="people-details">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <div class="flow-img img-square people-img" style="background-image: url({{ site.baseurl | append: '/img/team/' | append: teamMember.thumbnailUrl }})">
                                </div>
                            </div>
                            <div style="text-align: center" class="col-md-10 col-sm-10 ">
                                <p style="font-size:1cm; color:#7c2222"><b>家族名稱</b></p>
                            </div>        
                            <div style="text-align: center" class="col-md-2 col-sm-2 ">
                                <p style="font-size:0.8cm; color:#7c2222"><b>-家族介紹-</b></p>
                            </div>                      
                        </div>
                        <div class="row">
                            <div style="text-align: center" class="col-md-2 col-sm-2">
                                <p style="font-size:0.8cm; color:#7c2222"><b>X小</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %} {% endfor %}
</div>
<!-- End Team Modals -->
