<!-- Begin Team List-->
<section id="team" class="team">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.teamBlockTitle }}</h3>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.aboutUs }}</p>
        </div>
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" 
                data-delay="0" style="font-weight: 500;">
                即時排名
            </h4>
            {% include leaderboard.html %}
            <script>
            var test = new BFG.Leaderboard({
                interval:4,
                max:8,
                margin:4,
                display:function(item){
                    var 	content = document.createElement('div'),
                        a = content.appendChild(document.createElement('a')),
                        span = document.createElement('span');
                    a.innerHTML = item.title;
                    a.href = "#";
                    span.innerHTML = item.count;
                    a.appendChild(span);
                    return content;
                },
                sort:'count',
                dataCallback:function(){
                    return [//simulates incoming data
                        {id:1,title:"第一家族",count:BFG.rnd(1,800)},
                        {id:2,title:"第二家族",count:BFG.rnd(1,800)},
                        {id:3,title:"第三家族",count:BFG.rnd(1,800)},
                        {id:4,title:"第四家族",count:BFG.rnd(1,800)},
                        {id:5,title:"第五家族",count:BFG.rnd(1,800)},
                        {id:6,title:"第六家族",count:BFG.rnd(1,800)},
                        {id:7,title:"第七家族",count:BFG.rnd(1,800)},
                        {id:8,title:"第八家族",count:BFG.rnd(1,800)},
                    ];
                }
            });
            test.start();
            </script>
        </div>
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" 
                data-delay="0" style="font-weight: 500;">
                八大家族
            </h4>
            {% for teamMember in site.data.team %} {% if teamMember.family %}
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect" data-toggle="modal" data-target="#teamDetail-{{ teamMember.id }}">
                    <figure class="waves-effect waves-block waves-light"
                        style="background-image: url({{ site.baseurl | append: '/img/team/' | append: teamMember.thumbnailUrl }})">
                        <div class="overlay solid-overlay"></div>
                        <figcaption>
                            <div class="col-md-8 col-xs-8 text-left">
                                <h2 class="name"><span>{{ teamMember.team }}</span></h2>
                                <div class="clearfix"></div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</section>
<!-- End Team List -->
