<!-- Begin Tickets Section -->
<link href="{{ site.baseurl }}/css/tickets.css" rel="stylesheet">
<section id="tickets" class="tickets image-section parallax" style="margin-top: 60px; margin-left: 5%; width: 90%; border-radius: 50px; background-image: url({{ site.baseurl }}/img/sections-background/{{ site.ticketsImage }})">
	<div class="overlay solid-overlay"></div>
	<div class="content-wrapper">
		<h3 style="font-weight: 400; font-family: 'Noto Serif TC', serif;">{{ site.ticketsTitle }}</h3>
		<div class="row">
			{% for ticketsOffer in site.ticketsOffers %}
			{% assign colWidth = 12 | divided_by: forloop.length %}
			{% assign check = forloop.index | modulo:2 %}
			<div class="col-md-4 col-sm-4 col-md-offset-1 col-sm-offset-1">
				<div class="ellipse pricing-col {% if ticketsOffer.featured != null %}pricing-col-featured{% endif %} animated hiding">
					<div data-animation="{% if forloop.index == 1 %}fadeInLeft{% elsif forloop.index == forloop.length %}fadeInRight{% else %}fadeInDown{% endif %}"
					data-delay="{% if check == 0 %}0{% else %}500{% endif %}">

						<!-- {% if ticketsOffer.ribbon != null %}<div class="pricing-ribbon">{{ ticketsOffer.ribbon }}</div>{% endif %} -->
						<div class="pricing-header">
							<p class="title" style="color: black;font-weight: 700; font-family: 'Noto Serif TC', serif;">{{ ticketsOffer.name }}</p>
							<p class="price" style="color:#7c2222; line-height: 1cm;"><span class="currency" style="font-family: 'Noto Serif TC', serif;">
								{{ticketsOffer.priceCurrency }}</span><b style="font-family: 'Noto Serif TC', serif;">{{ ticketsOffer.price }}</b>
							</p>
						</div>
						<div class="pricing-content">
							<ul>
								{% for listItem in ticketsOffer.ticketContentList %}
								<li style="font-weight: 700; font-family: 'Noto Serif TC', serif; border-bottom: solid 1px #9d9d9d;">{{ listItem }}</li>
								{% endfor %}
							</ul>
							{% if ticketsOffer.soldOut == true %}
							<span class="button disabled" style="font-weight: 400; font-family: 'Noto Serif TC', serif;">{{ ticketsOffer.soldOutText }}</span>
							{% elsif ticketsOffer.disabled != true %}
							<a class="button" href="{{site.baseurl}}/application" target="_blank" style="font-weight: 500; font-family: 'Noto Serif TC', serif;">{{ ticketsOffer.buyButtonText }}</a>
							{% else %}
							{% assign ticketValidFrom = ticketsOffer.validFrom | split: "T" %}
							<span class="button disabled fallback" style="font-weight: 400; font-family: 'Noto Serif TC', serif;">{{ ticketValidFrom[0]}} {{ ticketValidFrom[1] }}開始報名！</span>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<div class="col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2">
				<div class="tutorial animated hiding" data-animation="fadeInRight" data-delay="500" style="width: 90%;margin-left:5%; ">
					<h6 style="font-size: 32px; text-align: center; font-weight: 700; font-family: 'Noto Serif TC', serif; text-shadow: 1px 1px 2px black; border-top: 5px; padding: 6px;">報名須知</h6>
					<br>
					<ul style="font-weight: 700; font-family: 'Noto Serif TC', serif; list-style: none; padding-left: 0; margin-left: 10%; width: 80%;color:#303030">
						{% for reminder in site.ticketReminderList %}
						<li style="font-size: 0.4cm; border-bottom: solid 1px black;">{{ reminder }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<br><br><br>
		<a href="#partners" class="explore">
			<svg class="icon icon-arrow-down arrow_display_md" viewBox="0 0 32 32">
				<use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
			</svg>
		</a>
	</div>
	<a href="#partners" class="explore">
        <svg class="icon icon-arrow-down arrow_display_xs" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
</section>
<!-- End Tickets Section -->
