<!-- Begin Tickets Section -->
<link href="{{ site.baseurl }}/css/tickets.css" rel="stylesheet">
<section id="tickets" class="tickets">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>{{ site.ticketsTitle }}</h3>
			{% if ticketsOffer.id == 1 %}
				<div class="ellipse col-md-5 col-sm-5 pricing-col {% if ticketsOffer.featured != null %}pricing-col-featured{% endif %} animated hiding" data-animation="fadeInLeft" data-delay="0">
				<!-- {% if ticketsOffer.ribbon != null %}<div class="pricing-ribbon">{{ ticketsOffer.ribbon }}</div>{% endif %} -->
					<div class="pricing-header">
						<p class="title">{{ ticketsOffer.name }}</p>
						<p class="price"><b>{{ ticketsOffer.price }}</b><span class="currency">{{ ticketsOffer.priceCurrency }}</span></p>
					</div>
					<div class="pricing-content">
						<ul>
						{% for listItem in ticketsOffer.ticketContentList %}
							<li>{{ listItem }}</li>
						{% endfor %}
						</ul>
						{% if ticketsOffer.soldOut == true %}
							<span class="button disabled">{{ ticketsOffer.soldOutText }}</span>
						{% elsif ticketsOffer.disabled != true %}
							<a class="button" href="{{ ticketsOffer.buyButtonLink }}" target="_blank">{{ ticketsOffer.buyButtonText }}</a>
						{% else %}
							{% assign ticketValidFrom = ticketsOffer.validFrom | split: "T" %}
								<span class="button disabled fallback">{{ ticketValidFrom[0]}} {{ ticketValidFrom[1] }}開始報名！</span>
						{% endif %}
					</div>
				</div>
			<div class="col-md-2 col-sm-2"><br></div>
			{% else %}
				<div class="ellipse col-md-5 col-sm-5 pricing-col {% if ticketsOffer.featured != null %}pricing-col-featured{% endif %} animated hiding" data-animation="fadeInRight" data-delay="500">
					<!-- {% if ticketsOffer.ribbon != null %}<div class="pricing-ribbon">{{ ticketsOffer.ribbon }}</div>{% endif %} -->
					<div class="pricing-header">
						<p class="title">{{ ticketsOffer.name }}</p>
						<p class="price"><b>{{ ticketsOffer.price }}</b><span class="currency">{{ ticketsOffer.priceCurrency }}</span></p>
					</div>
					<div class="pricing-content">
						<ul>
							{% for listItem in ticketsOffer.ticketContentList %}
							<li>{{ listItem }}</li>
							{% endfor %}
						</ul>
						{% if ticketsOffer.soldOut == true %}
							<span class="button disabled">{{ ticketsOffer.soldOutText }}</span>
						{% elsif ticketsOffer.disabled != true %}
							<a class="button" href="{{ ticketsOffer.buyButtonLink }}" target="_blank">{{ ticketsOffer.buyButtonText }}</a>
						{% else %}
							{% assign ticketValidFrom = ticketsOffer.validFrom | split: "T" %}
							<span class="button disabled fallback">{{ ticketValidFrom[0]}} {{ ticketValidFrom[1] }}開始報名！</span>
						{% endif %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</section>
<!-- End Tickets Section -->
