<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="utf-8"name="viewport" content="width=device-width, initial-scale=1">
    <title>報名頁面 &bull; {{site.title}}</title>
    <link rel="shortcut icon" href="{{ "/img/favicons/favicon.ico" | prepend: site.baseurl }}">
      <link rel="apple-touch-icon" href="{{ "/img/favicons/apple-touch-icon.png" | prepend: site.baseurl }}">
      <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{{ site.baseurl }}/css/applicationForm2.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"></script>
  </head>
    <body>
      <div class="preloader" id="preloader">
        <div id="status"></div>
    </div>
    <section id="intro" class="intro image-section"
        style="background-image: url('{{ site.baseurl }}/img/sections-background/monochrome.jpg'); background-size: cover;">
        <div class="overlay gradient-overlay"></div>
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>報名頁面</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="second">
        <h2 style="text-align: center;margin-top: 20%;">恭喜!!!報名表提交成功</h2>
        <div class="afterConfirmed">
          <span class="bordered">
            <a href="{{ site.baseurl }}/team/" class="btn btn-default bottom-section-link waves-effect waves-button waves-light"
            style="font-weight: 400; font-family: 'Noto Serif TC', serif;">
            點我回首頁</a>
          </span>
        </div>
    </section>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-storage.js"></script>
    <script src="{{ site.baseurl }}/applicationForm/applicationForm2.js"></script>
    <script>
      window.jQuery || document.write('<script src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}><\/script>')
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script>
      if (typeof ($.fn.modal) === 'undefined') {
          document.write('<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}><\/script>')
      }
  </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(window).on('load', function () {
            $(".container").fadeOut("slow");
        });
    </script>
    <script src="{{ "/js/default.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/scripts.min.js" | prepend: site.baseurl }}"></script>
  </body>
  <footer>
    <p style="margin-left: 10%;">&copy;2021 created by Lawrence Wang</p>
  </footer>
</html>
