<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="utf-8"name="viewport" content="width=device-width, initial-scale=1">
    <title>報名頁面 &bull; {{site.title}}</title>
    <link rel="shortcut icon" href="{{ "/img/favicons/favicon.ico" | prepend: site.baseurl }}">
      <link rel="apple-touch-icon" href="{{ "/img/favicons/apple-touch-icon.png" | prepend: site.baseurl }}">
      <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{{ site.baseurl }}/css/applicationForm2.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"></script>
  </head>
    <body>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    </div>
    <section id="intro" class="intro image-section"
        style="background-image: url('{{ site.baseurl }}/img/sections-background/monochrome.jpg'); background-size: cover;">
        <div class="overlay gradient-overlay"></div>
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>報名頁面</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="second">
        <h2 class="h2_confirmed">恭喜！！！報名表提交成功</h2>
        <div class="afterConfirmed">
          <div style="font-size: 14px; line-height: 2; text-align: center; margin-top: 2%;">
            <p class="warm_content">提醒：本頁面僅代表完成報名資料填寫，待人工審核後會發送報名成功通知至您的信箱。</p>
            <p>若當天未收到報名成功通知，請聯繫<a href="mailto:ptimnur2021@gmail.com" style=" text-decoration:none;">主辦方</a>。</p>
            <p>待收到報名成功通知後，須完成匯款繳費才完成整個報名流程，否則視為報名未完成，請特別注意！</p>
            <p>我們會定期在官網的最新消息及Facebook專頁更新繳費名單，再麻煩自行確認繳費狀況。若持續未看到您的姓名，請聯絡我們。</p>
            <p>有任何問題歡迎<a href="mailto:ptimnur2021@gmail.com" style="text-decoration:none;">聯絡我們</a>！</p>
            <p>WHOSE PARTY籌備團隊期待與您相見。</p>
          </div>
          <div style="text-align: center;">
          <button class="btn" onclick="location.href='{{ site.baseurl }}';">按<strong>我</strong>回首頁</button>
          </div>
        </div>
    </section>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-storage.js"></script>
    <script src="{{ site.baseurl }}/applicationForm/applicationForm2.js"></script>
    <script>
      window.jQuery || document.write('<script src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}><\/script>')
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script>
      if (typeof ($.fn.modal) === 'undefined') {
          document.write('<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}><\/script>')
      }
  </script>
    <script src="{{ "/js/default.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/scripts.min.js" | prepend: site.baseurl }}"></script>
  </body>
  <footer>
    <p style="margin-left: 20%; margin-top: 2%; margin-bottom: 1%;">&copy; 2021 Created by Laurence Wang</p>
  </footer>
</html>
