---
layout: compress
---
<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title>報名頁面</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="{{ site.baseurl }}/css/applicationForm2.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    $(window).on('load',function () {
      $(".preloader").fadeOut("slow");
    });
  </script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="author" content="Oleh Zasadnyy, GDG Lviv">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.metaKeywords }}">
  <meta name="google-site-verification" content="{{ site.siteVerification }}" />
  <link rel="canonical" href="{{ site.url }}">
  <!-- Social: Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ site.twitterAccount }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image:src" content="{{ site.socialImageSrcTwitter | prepend: site.baseurl | prepend: site.url }}">
  <!-- Social: Facebook / Open Graph -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:image" content="{{ site.socialImageSrcFacebook | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:description" content="{{ site.description }}" />

  <title>{% if page.title %}{{ page.title }} &bull; {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="shortcut icon" href="{{ " /img/favicons/favicon.ico" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" href="{{ " /img/favicons/apple-touch-icon.png" | prepend: site.baseurl }}">

  <meta name="theme-color" content="#6dd0cd">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=New+Tegomin&family=Potta+One&family=Rock+Salt&family=Yusei+Magic&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">
  <link href="{{ " /css/main.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ " /css/team_modal.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ " /css/leaderboard.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ " /css/story.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ " /css/navigation_button.css" | prepend: site.baseurl }}" rel="stylesheet">
</head>

<body>
  <div class="preloader" id="preloader">
    <div id="status"></div>
  </div>

  <div id="st-container" class="st-container disable-scrolling">
    <div class="st-pusher">
      <div class="st-content">

        {{ content }}

        {% include footer.html %}

      </div>
    </div>
  </div>

  <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-storage.js"></script>
  <script src="{{ site.baseurl }}/applicationForm/applicationForm2.js"></script>
</body>

</html>
