---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    <div class="preloader" id="preloader">
        <div id="status"></div>
    </div>
    <div id="st-container" class="st-container disable-scrolling">
        <div class="st-pusher">
            <div class="st-content">

                {{ content }}

                {% include footer.html %}

            </div>
        </div>
    </div>
    <!-- <div>
        <audio autoplay>
            <source src="../_includes/test1.mp3" type="audio/mpeg">
        </audio>
    </div> -->

    {% if page.modal == 'all' %}
        {% include speakers-modals.html %}
    {% elsif page.modal == 'crew' %}
        {% include crew-modal.html %}
    {% elsif page.modal == 'team' %}
        {% include team-modal.html %}
    {% endif %}

    {% include story-modal.html %}

    {% if page.permalink == '/schedule/' %}
        {% include sessions-modals.html %}
    {% endif %}

    {% include analytics.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}><\/script>')
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        if (typeof ($.fn.modal) === 'undefined') {
            document.write('<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}><\/script>')
        }
    </script>
    <script src="{{ "/js/default.js" | prepend: site.baseurl }}"></script>
    {% if page.permalink == '/' or page.permalink == '/hackathon/' %}
    <script>
        if ($(window).width() > 767) {
            document.write('<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"><\/script>')
        }
    </script>
    {% elsif page.permalink == '/logistics/' %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places,geometry"></script>
    <script type="text/javascript">
        var autoDirectionEnabled = {% if site.logisticsMapAutoDirections %} true {% else %} false {% endif %};
    </script>
    {% endif %}
    <script>
        Waves.displayEffect();
        {% if page.permalink == '/' %}
        if ($(window).width() > 767) {
            var googleMaps = 'index',
                eventPlace = new google.maps.LatLng({{ site.eventPlaceCoordinates | replace: ' ', '' }}),
        centerMap = new google.maps.LatLng({{ site.mapCenterCoordinates | replace: ' ', '' }}),
            mobileCenterMap = new google.maps.LatLng({{ site.mapMobileCenterCoordinates | replace: ' ', '' }}),
            icon = '{{ site.baseurl }}/img/other/map-marker.svg';
            } else {
            var staticGoogleMaps = true,
                eventPlaceCoordinates = '{{ site.eventPlaceCoordinates | replace:' ','' }}',
                    centerMapCoordinates = '{{ site.mapCenterCoordinates | replace:' ','' }}',
                        mobileCenterMapCoordinates = '{{ site.mapMobileCenterCoordinates | replace:' ','' }}',
                            icon = '{{ site.baseurl | prepend: site.url }}/img/other/map-marker.png';
        }
        var twitterFeedUrl = '{{ site.twitterFeed }}';

        var rockstarSpeakers = [
            {% for speaker in site.data.crew %}
                    { name: "{{ speaker.surname }}", company: "{{ speaker.company }}",
                        image: "{{ site.baseurl | append: '/img/people/' | append: speaker.thumbnailUrl }}",
                        executive:"{{speaker.executive}}",vice:"{{speaker.vice}}" } {% if forloop.index != forloop.length %}, {% endif %}
            {% endfor %}
                ];
            rockstarSpeakers.sort(function () { return 0 });
            if (rockstarSpeakers.length > 0) {
                var animationDelay = 1500,
                count = Math.min({{ site.rockstarSpeakersCount }}, rockstarSpeakers.length),
                colWidth = 12 / count;
                for (i = count-1; i >= 0; i--) {
                    var clearfix = '<div class="clearfix visible-xs"></div>';
                    if ((i)<6) {
                        clearfix = ""
                    }
                    if(window.innerWidth>767){
                        $('#rockstar-speaker-title').after('<div class="col-md-' + colWidth + ' col-xs-6 rockstar-speakers-item animated hiding" data-animation="fadeInUp" data-delay="' + animationDelay + '"><div class="rockstar-speaker" ><div class="flow-img img-circle rockstar-speaker-img" style="margin:0; background-image: url(' + rockstarSpeakers[i].image + ')"></div><div class="name" style="font-weight: 600;margin:10px 0 2px 11%">' + rockstarSpeakers[i].name + '</div><div class="sub" style="font-weight: 600;margin:0 0 15px 11%">' + rockstarSpeakers[i].company + '</div></div></div>' + clearfix);
                    }
                    else{
                        $('#rockstar-speaker-title').after('<div class="col-md-' + colWidth + ' col-xs-6 rockstar-speakers-item animated hiding" data-animation="fadeInUp" data-delay="' + animationDelay + '"><div class="rockstar-speaker" ><div class="flow-img img-circle rockstar-speaker-img" style="margin:0; background-image: url(' + rockstarSpeakers[i].image + ')"></div><div class="name" style="font-weight: 600;margin:10px 0 2px">' + rockstarSpeakers[i].name + '</div><div class="sub" style="font-weight: 600;margin:0 0 15px">' + rockstarSpeakers[i].company + '</div></div></div>' + clearfix);
                    }
                    animationDelay -= 500;
                }
            }

        // $(document).ready(function () {
        //     $(setInterval(function () {
        //         var time = new Date();
        //         var nowTime = time.getTime(); 
        //         time.setMonth(9); 
        //         time.setDate(23); 
        //         time.setHours(0); 
        //         time.setMinutes(0); 
        //         time.setSeconds(0);
        //         var endTime = time.getTime();
                
        //         var offsetTime = (endTime - nowTime) / 1000; 
        //         var sec = parseInt(offsetTime % 60); 
        //         var min = parseInt((offsetTime / 60) % 60); 
        //         var hr = parseInt((offsetTime / 60 / 60) % 24); 
        //         var day = parseInt(offsetTime / 60 / 60 / 24); 
        //         var fullDate = [''+ day +'日'+ hr +'時'+ min +'分'+ sec +'秒'];

        //         if ($(window).width() > 767) {
        //             $("#typeout-text").typed({
        //                 strings: fullDate,
        //                 typeSpeed: 150,
        //                 backDelay: 900,
        //                 loop: true
        //             });
        //         }
        //     }),1000);
        // });

        {% endif %}
    </script>
    <script src="{{ "/js/scripts.min.js" | prepend: site.baseurl }}"></script>
    {% if page.permalink == '/schedule/' %}
    <script type="text/javascript">
        $(document).ready(function () {
            var navHeight = $('#top-header').height();
            var headerHeight = $('.track-header').first().height();
            $('.stick-header').stick_in_parent({ sticky_class: 'sticky', offset_top: navHeight });
            $('.stick-label').stick_in_parent({ offset_top: navHeight + headerHeight });
        });
    </script>
    {% endif %}

    {% include schema-event.html %}
    
</body>
</html>
